{% extends 'question_editor/_base.html' %}

{% block style %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/froala_editor.min.css' rel='stylesheet' type='text/css' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/froala_style.min.css' rel='stylesheet' type='text/css' />
    <style>
        .tAlignRight {
            text-align: right;
        }
        .tAlignCenter {
            text-align: center;
        }
        .mLeft15 {
            margin-left: 15px;
        }
        .resp-toggle {
            cursor: pointer;
        }
        .resp-toggle:hover {
            opacity: 0.5;
        }
        .empty-list-text:empty:after {
            content: 'Ninguna'
        }
        .tab-content {
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            padding: 10px;
        }
        .nav-tabs {
            margin-bottom: 0;
        }
        .list-group > *:not(:first-child) {
            margin-top: 20px;
        }
        .correctResp {
            background-color: rgba(76, 174, 76, 0.2);
        }
        .incorrectResp {
            background-color: rgba(172, 41, 37, 0.2);
        }
    </style>
{% endblock style %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1 id="titleH1"></h1>
            <a href="/question_editor" class="btn btn-default"><span class="glyphicon glyphicon-circle-arrow-left"></span> Volver a la lista de preguntas</a>
        </div>
        <form>
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" placeholder="Nombre de la pregunta" name="nombre" required>
            </div>
            <div class="form-group">
                <label for="correctAnswers">Respuestas Correctas:</label>
                <input type="number" min="1" value="1" class="form-control" id="correctAnswers" placeholder="Cantidad de respuestas correctas que se muestran" name="correctAnswers" required>
            </div>
            <div class="form-group">
                <label for="incorrectAnswers">Respuestas Incorrectas:</label>
                <input type="number" min="1" value="3" class="form-control" id="incorrectAnswers" placeholder="Cantidad de respuestas incorrectas que se muestran" name="incorrectAnswers" required>
            </div>
            <label>Enunciados:</label>
            <div id="enunciadosList" class="list-group empty-list-text"></div>
            <div class="row">
                <div class="col-xs-12 tAlignRight">
                    <button class="btn btn-primary" onclick="toggleEnunciadoForm()" type="button">
                        <span class="glyphicon glyphicon-plus-sign"></span> Agregar enunciado
                    </button>
                </div>
            </div>
            <div id="nuevoEnunciadoFormDialog" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Formulario Enunciado</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="tituloEnunciado">Enunciado (HTML):</label>
                                <textarea class="form-control" id="tituloEnunciado" name="tituloEnunciado" rows="3" placeholder="Enunciado"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="saveEnunciado" type="button" class="btn btn-info" onclick="addEnunciado()">Agregar</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="respuestaFormModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Formulario Respuesta</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="respuestaRespuesta">Respuesta (HTML):</label>
                                <textarea class="form-control" id="respuestaRespuesta" name="respuestaRespuesta" rows="3" placeholder="Respuesta"></textarea>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" id="correctaRespuesta" name="correctaRespuesta">Correcta</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="saveRespuesta" type="button" class="btn btn-info" onclick="addRespuesta()">Agregar</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <button id="submitButton" type="button" class="btn btn-success" onclick="addPregunta()"></button>
        </form>
    </div>
{% endblock content %}

{% block script %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/froala_editor.min.js'></script>
    <script>
        var baseAPIUrl = '{{ base_api_url }}';
        var questionId = {{ id }};
        var userId = {{ user_id }};
        var enunciados = [];
        var currentEditIndex = -1;
        var currentEditRespuestaIndex = -1;

        function loadQuestion(pregunta) {
            $("#nombre").val(pregunta.nombre);
            enunciados = pregunta.enunciados;
            enunciados.forEach((enunciado, index) => {
                enunciado.index = index;
                enunciado.respuestas.forEach((respuesta, i) => respuesta.index = i);
                $('#enunciadosList').append(getNuevoEnunciadoHtml(enunciado));
            });
        }

        function toggleRespuestas(index) {
            $(`#enunciado_${index}_respuestas`).slideToggle();
        }

        function getNuevoEnunciadoHtml(enunciado) {
            let enunciadoHTML = `<div class="list-group-item" data-index="${enunciado.index}"><div class="form-group"><label>Enunciado:</label><div class="row"><div id="enunciado_${enunciado.index}" class="col-xs-9">${enunciado.enunciado}</div><div class="col-xs-3 tAlignCenter"><button type="button" class="btn btn-warning" onclick="editEnunciado(${enunciado.index})"><span class="glyphicon glyphicon-edit"></span> Editar</button><button type="button" class="btn btn-danger mLeft15" onclick="removeEnunciado(${enunciado.index})"><span class="glyphicon glyphicon-remove-sign"></span> Borrar</button></div></div></div><hr><div class="resp-toggle" onclick="toggleRespuestas(${enunciado.index})"><label>Respuestas:</label></div><ol id="enunciado_${enunciado.index}_respuestas" class="list-group empty-list-text"`;

            if (enunciado.respuestas && enunciado.respuestas.length > 0) {
                enunciadoHTML += ' style="display:none">';
                enunciado.respuestas.forEach(r => enunciadoHTML += getRespuestaHTML(r, enunciado.index));
            } else {
                enunciadoHTML += '>';
            }

            enunciadoHTML += `</ol><div class="row"><div class="col-xs-12 tAlignRight"><button class="btn btn-primary" onclick="toggleRespuestaFormModal(${enunciado.index})" type="button"><span class="glyphicon glyphicon-plus-sign"></span> Agregar respuesta</button></div></div></div>`;

            return enunciadoHTML;
        }

        function getRespuestaHTML(respuesta, enunciadoIndex) {
            return `<li class="list-group-item row ${respuesta.correcta ? '' : 'in'}correctResp" data-index="${enunciadoIndex}_${respuesta.index}"><div class="col-xs-9">${respuesta.respuesta}</div><div class="col-xs-3 tAlignCenter"><button type="button" class="btn btn-warning" onclick="editRespuesta(${enunciadoIndex}, ${respuesta.index})"><span class="glyphicon glyphicon-edit"></span> Editar</button><button type="button" class="btn btn-danger mLeft15" onclick="removeRespuesta(${enunciadoIndex}, ${respuesta.index})"><span class="glyphicon glyphicon-remove-sign"></span> Borrar</button></div></li>`;
        }

        function toggleEnunciadoForm() {
            $('#nuevoEnunciadoFormDialog').modal('toggle');
            $('#tituloEnunciado').val('');
            $('#tituloEnunciado').froalaEditor('html.set', '');
            currentEditIndex = -1;
            $('#saveEnunciado').html("Agregar");
        }

        function addEnunciado() {
            if (currentEditIndex >= 0) {
                let enunciado = enunciados.find(e => e.index == currentEditIndex);
                enunciado.enunciado = $('#tituloEnunciado').val();
                $(`div[data-index=${currentEditIndex}] #enunciado_${currentEditIndex}`).html(enunciado.enunciado);
                toggleEnunciadoForm()
            } else {
                let nuevoEnunciado = null;
                if ($('#tituloEnunciado').val()) {
                    nuevoEnunciado = {
                        id: 0,
                        index: getNewEnunciadoIndex(),
                        enunciado: $('#tituloEnunciado').val(),
                        respuestas: []
                    };
                } else {
                    alert('Por favor ingrese el texto para el nuevo enunciado');
                }

                if (nuevoEnunciado) {
                    enunciados.push(nuevoEnunciado);

                    $('#enunciadosList').append(getNuevoEnunciadoHtml(nuevoEnunciado));
                    toggleEnunciadoForm();
                }
            }
        }

        function getNewEnunciadoIndex() {
            return enunciados && enunciados.length > 0 ? Math.max(...enunciados.map(e => e.index)) + 1 : 0;
        }

        function getNewRespuestaIndex(enunciadoIndex) {
            return enunciados && enunciados.length > 0 ? Math.max(...enunciados.find(e => e.index == enunciadoIndex).respuestas.map(e => e.index)) + 1 : 0;
        }

        function editEnunciado(index) {
            let enunciado = enunciados.find(e => e.index == index);
            currentEditIndex = index;
            $('#tituloEnunciado').val(enunciado.enunciado);
            $('#tituloEnunciado').froalaEditor('html.set', enunciado.enunciado);
            $('#saveEnunciado').html("Editar");
            $('#nuevoEnunciadoFormDialog').modal('show');
        }

        function removeEnunciado(index) {
            let i = enunciados.findIndex(e => e.index == index);
            if (i > -1) {
                enunciados.splice(i, 1);
                $(`div[data-index='${index}']`).remove();
            }
        }

        function toggleRespuestaFormModal(enunciadoIndex) {
            $('#respuestaFormModal').modal('toggle');
            $('#correctaRespuesta')[0].checked = false;
            $('#respuestaRespuesta').froalaEditor('html.set', '');
            currentEditIndex = enunciadoIndex;
            $('#saveRespuesta').html("Agregar");
        }

        function addRespuesta() {
            if (currentEditRespuestaIndex >= 0) {
                let respuesta = enunciados.find(e => e.index == currentEditIndex).respuestas.find(e => e.index == currentEditRespuestaIndex);
                respuesta.respuesta = $('#respuestaRespuesta').val();
                respuesta.correcta = $('#correctaRespuesta')[0].checked;
                $(`li[data-index=${currentEditIndex}_${currentEditRespuestaIndex}] div:first`).html(respuesta.respuesta);
                toggleRespuestaFormModal(-1)
            } else {
                let nuevaRespuesta = null;
                if ($('#respuestaRespuesta').val()) {
                    nuevaRespuesta = {
                        id: 0,
                        index: getNewRespuestaIndex(currentEditIndex),
                        respuesta: $('#respuestaRespuesta').val(),
                        correcta: $('#correctaRespuesta')[0].checked
                    };
                } else {
                    alert('Por favor ingrese el texto para la nueva respuesta');
                }

                if (nuevaRespuesta) {
                    enunciados.find(e => e.index == currentEditIndex).respuestas.push(nuevaRespuesta);

                    $('#enunciado_' + currentEditIndex + '_respuestas').append(getRespuestaHTML(nuevaRespuesta, currentEditIndex));
                    toggleRespuestaFormModal(-1);
                }
            }
        }

        function editRespuesta(enunciadoIndex, index) {
            let respuesta = enunciados.find(e => e.index == enunciadoIndex).respuestas.find(e => e.index == index);
            currentEditIndex = enunciadoIndex;
            currentEditRespuestaIndex = index;
            $('#correctaRespuesta')[0].checked = respuesta.correcta;
            $('#respuestaRespuesta').froalaEditor('html.set', respuesta.respuesta);
            $('#saveRespuesta').html("Editar");
            $('#respuestaFormModal').modal('show');
        }

        function removeRespuesta(enunciadoIndex, index) {
            let i = enunciados.find(e => e.index == enunciadoIndex).respuestas.findIndex(e => e.index == index)
            if (i > -1) {
                enunciados.find(e => e.index == enunciadoIndex).respuestas.splice(i, 1);
                $(`li[data-index='${enunciadoIndex}_${index}']`).remove();
            }
        }

        function addPregunta() {
            if ($('#nombre').val().length == 0 || $('#correctAnswers').val().length == 0 || $('#incorrectAnswers').val().length == 0) {
                alert('La pregunta no tiene un nombre, respuestas correctas o respuestas incorrectas');
            } else if (enunciados.length > 0) {
                let correctAnswers = +$('#correctAnswers').val();
                let incorrectAnswers = +$('#incorrectAnswers').val();
                if (enunciados.every(e => e.respuestas.filter(r => r.correcta).length >= correctAnswers && e.respuestas.filter(r => !r.correcta).length >= incorrectAnswers)) {
                    let pregunta = {
                        tema: 'test 1',
                        nombre: $('#nombre').val(),
                        respuestas_correctas: correctAnswers,
                        respuestas_incorrectas: incorrectAnswers,
                        enunciados: enunciados
                    }

                    $.ajax({
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        url: 'add_or_edit' + (questionId > 0 ? '?id=' + questionId : ''),
                        data: JSON.stringify(pregunta),
                        processData: false,
                        success: () => window.location.href = '/question_editor'
                    });
                } else {
                    alert(`Los enunciados deben tener como mínimo ${$('#correctAnswers').val()} respuestas correctas y ${$('#incorrectAnswers').val()} respuestas incorrectas`);
                }
            } else {
                alert('No hay ningún enunciado para la pregunta');
            }
        }

        (function init() {
            $('#tituloEnunciado').froalaEditor();
            $('#respuestaRespuesta').froalaEditor();
            $('#titleH1').text(questionId == 0 ? 'Agregar Pregunta' : 'Editar Pregunta');
            $('#submitButton').text(questionId == 0 ? 'Agregar' : 'Editar');

            if (questionId > 0) {
                $.ajax({
                    url: baseAPIUrl + 'pregunta/' + questionId + '/all',
                    success: loadQuestion
                });
            }
        })();
    </script>
{% endblock script %}