{% extends 'push/_base.html' %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Haga click en la presentación a la que desea entrar</h1>
        </div>
        <div id="presentacionesDiv" class="list-group"></div>
    </div>
{% endblock content %}

{% block script %}
    <script>
        var baseAPIUrl = '{{ base_api_url}}';

        function loadPresentations(presentaciones) {
            let presentacionesHTML = '';
            presentaciones.forEach((p) => {
                presentacionesHTML += getPresentacionAnchorHtml(p.nombre, p.id);
            });
            setInnerHTML('presentacionesDiv', presentacionesHTML);
        }

        function setInnerHTML(elementId, innerHTML) {
            let element = document.getElementById(elementId);
            if (element) {
                element.innerHTML = innerHTML;
            }
        }

        function getPresentacionAnchorHtml(nombre, id) {
            return `<a href="/push/presentation/${id}" class="list-group-item">${nombre}</a>`;
        }

        (function init() {
            $.ajax({
                url: baseAPIUrl + 'presentacion',
                success: loadPresentations
            });
        })();
    </script>
{% endblock script %}