{% extends 'push/_base.html' %}

{% block style %}
    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
        #contentFrame {
            height: 100%;
            width: 100%;
            position: absolute;
        }
        .footerControls {
            position: absolute;
            bottom: 0;
            z-index: 100;
        }
        a {
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
            cursor: pointer;
        }
        a:hover {
            background-color: #ddd;
            color: black;
        }
        .previous {
            background-color: #f1f1f1;
            color: black;
            float: left;
            left: 50px;
        }
        .previous::before {
            content: '\00ab';
            margin-right: 5px;
        }
        .next {
            background-color: #4CAF50;
            color: white;
            float: right;
            right: 50px;
        }
        .next::after {
            content: '\00bb';
            margin-left: 5px;
        }
        .refresh {
            background-color: #42C2F4;
            color: white;
            left: 50%;
            margin-left: -41px;
        }
        .refresh::before {
            content: '\21BB';
            margin-right: 5px;
        }
    </style>
{% endblock style %}

{% block content %}
    <iframe id="contentFrame" frameborder="0" height="100%" width="100%" scrolling="yes"></iframe>
    {% if has_controls %}
    <a id="previousControl" class="footerControls previous" onclick="sendMessage('previous')">Anterior</a>
    <a id="refreshControl" class="footerControls refresh" onclick="sendMessage('refresh')">Refrescar</a>
    <a id="nextControl" class="footerControls next" onclick="sendMessage('next')">Siguiente</a>
    {% endif %}
{% endblock content %}

{% block script %}
    <script>
        var currentIndex = 0;
        var roomName = {{ room_name_json }};
        var presentationSocket = new WebSocket('ws://' + window.location.host + '/ws/presentation/' + roomName + '/');

        presentationSocket.onmessage = function(e) {
            processMessage(JSON.parse(e.data));
        };

        presentationSocket.onclose = function(e) {
            alert('Socket closed unexpectedly, please reload page');
        };

        function sendMessage(action) {
            var messageObj = {
                currentIndex: currentIndex,
                action: action
            };
            presentationSocket.send(JSON.stringify(messageObj));
        }

        function processMessage(data) {
            var currentUrl = 'http://' + window.location.host + data['currentUrl'];
            var hasPrevious = data['hasPrevious'];
            var hasNext = data['hasNext'];
            currentIndex = data['currentIndex'];

            var contentFrame = document.getElementById('contentFrame');
            if (contentFrame && contentFrame.src != currentUrl)
                contentFrame.src = currentUrl;

            var previousControl = document.getElementById('previousControl');
            if (previousControl)
                previousControl.style.display = hasPrevious ? '' : 'none';

            var nextControl = document.getElementById('nextControl');
            if (nextControl)
                nextControl.style.display = hasNext ? '' : 'none';
        }
    </script>
{% endblock script %}