{% extends 'slides/_base.html' %}

{% block style %}
    <style>
        .ok {
            color: #4CAF50;
        }
        .error {
            color: #A94442;
        }
        .bg-ok {
            background-color: rgba(76, 174, 76, 0.2);
        }
        .bg-error {
            background-color: rgba(172, 41, 37, 0.2);
        }
        .empty-list-text:empty:after {
            content: 'Ninguna'
        }
    </style>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock style %}

{% block content %}
    <div class="container">
        <form id="questionForm">

            <div class="form-group">
                <div id="enunciadoDiv"></div>
                <hr>
                <div id="respuestasDiv"></div>
            </div>
            <div id="errorDiv" class="form-group error" style="display: none">
                <label>Selecciona al menos una respuesta</label>
            </div>
            <div class="form-group"> <!-- Submit button !-->
                <button class="btn btn-primary " type="button" onclick="sendAnswer()">Enviar Respuesta</button>
            </div>
        </form>
        <div id="questionResultsDiv" class="row" style="display: none">
            <div class="row">
                <div class="col-xs-2"><h3>Tema:</h3></div>
                <div class="col-xs-10"><h3 id="temaH3"></h3></div>
            </div>
            <div class="row">
                <div class="col-xs-2"><h3>Pregunta:</h3></div>
                <div class="col-xs-10"><h3 id="preguntaH3"></h3></div>
            </div>
            <div id="respuestaEstudiantesDiv" class="row">
                <div class="col-xs-12"><h3>Respuesta de los estudiantes:</h3></div>
                <div class="col-xs-12">
                    <ol id="respuestaEstudiantesList" class="list-group empty-list-text"></ol>
                </div>
            </div>
            <div id="tuRespuestaDivTit" class="row" style="display: none">
                <div class="col-xs-2"><h3>Respuesta:</h3></div>
                <div class="col-xs-10"><h3 id="tuRespuestaH3"></h3></div>
            </div>
            <div class="col-xs-12"><hr></div>
            <div class="col-xs-12"><h2>Respuestas de la clase</h2></div>
            <div class="col-xs-6">
                <table class="table table-hover table-bordered">
                    <tbody>
                        <tr>
                            <td><strong>Correctas</strong></td>
                            <td><span id="correctasSpan">0</span></td>
                        </tr>
                        <tr>
                            <td><strong>Incorrectas</strong></td>
                            <td><span id="incorrectasSpan">0</span></td>
                        </tr>
                        <tr>
                            <td><strong>Total</strong></td>
                            <td><span id="totalSpan">0</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-6">
                <div id="piechart" style="width: 350px; height: 200px;"></div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script>
        var questionId = {{ id }};
        var correctAnswersAmount = -1;
        var isTeacher = {{ is_teacher|yesno:"true,false" }};
        var baseAPIUrl = '{{ base_api_url}}';
        var questionSocket = new WebSocket('ws://' + window.location.host + '/ws/question/' + parent.roomName + '_question_' + questionId + '/');

        questionSocket.onmessage = function(e) {
            processMessage(JSON.parse(e.data));
        };

        function sendAnswer() {
            let correctAnswerSelectedCheckboxes = document.querySelectorAll('input[type="checkbox"][name^="r"][value="1"]:checked').length;
            let incorrectAnswerSelectedCheckboxes = document.querySelectorAll('input[type="checkbox"][name^="r"][value="0"]:checked').length;

            if ((correctAnswerSelectedCheckboxes + incorrectAnswerSelectedCheckboxes) > 0) {
                let correctAnswer = (correctAnswerSelectedCheckboxes == correctAnswersAmount) && (incorrectAnswerSelectedCheckboxes == 0);
                showMyAnswer(correctAnswer);
                let messageObj = {
                    correctAnswer: correctAnswer,
                    questionId: questionId
                };
                questionSocket.send(JSON.stringify(messageObj));
                document.getElementById('questionForm').style.display = 'none';
                document.getElementById('questionResultsDiv').style.display = '';
            }
            else {
                let errorDiv = document.getElementById('errorDiv');
                if (errorDiv) {
                    errorDiv.style.display = '';
                    setTimeout(() => { errorDiv.style.display = 'none'; }, 2000);
                }
            }
        }

        function processMessage(data) {
            let correctAnswers = data['correctAnswers'];
            let incorrectAnswers = data['incorrectAnswers'];
            $('#correctasSpan').html(correctAnswers);
            $('#incorrectasSpan').html(incorrectAnswers);
            $('#totalSpan').html(correctAnswers + incorrectAnswers);
            drawChart(correctAnswers, incorrectAnswers);
            if (isTeacher && data.answers) {
                $('#respuestaEstudiantesList').html('');
                data.answers.forEach(a => $('#respuestaEstudiantesList').append(`<li class="list-group-item${a.correct_answer ? ' bg-ok' : ' bg-error'}">${a.username}</li>`));
            }
        }

        function drawChart(correctas, incorrectas) {
            if (correctas + incorrectas > 0) {
                var data = google.visualization.arrayToDataTable([
                    ['Label', 'Cantidad'],
                    ['Correctas', correctas],
                    ['Incorrectas', incorrectas]
                ]);

                var options = { title: 'Respuestas' };

                var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(data, options);
            }
        }

        function showMyAnswer (correctAnswer) {
            $('#tuRespuestaH3').html(correctAnswer ? 'Correcta' : 'Incorrecta');
            document.getElementById('tuRespuestaH3').classList.add(correctAnswer ? 'ok' : 'error');
            document.getElementById('tuRespuestaDivTit').style.display = '';
        }

        function loadQuestion(pregunta) {
            let enunciado = pregunta.enunciados[Math.floor(Math.random() * pregunta.enunciados.length)];
            if (enunciado) {
                $('#preguntaH3').html(pregunta.nombre);
                $('#temaH3').html(pregunta.tema);

                if (!isTeacher) {
                    $('#enunciadoDiv').html(enunciado.enunciado);

                    correctAnswersAmount = pregunta.respuestas_correctas;

                    let respuestas = getRespuestas(enunciado.respuestas, true, pregunta.respuestas_correctas);
                    respuestas = respuestas.concat(getRespuestas(enunciado.respuestas, false, pregunta.respuestas_incorrectas));
                    shuffleArray(respuestas);
                    let respuestasHTML = '';
                    respuestas.forEach((r, i) => {
                        respuestasHTML += getRespuestaCheckboxHtml(r, i);
                    });
                    $('#respuestasDiv').html(respuestasHTML);
                }
            }
        }

        function getRespuestas(respuestasArr, correcta, amount) {
            let respuestas = respuestasArr.filter(r => r.correcta == correcta);
            shuffleArray(respuestas);
            if (respuestas && respuestas.length > amount) {
                respuestas = respuestas.slice(0, amount);
            }
            return respuestas;
        }

        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }

        function getRespuestaCheckboxHtml(respuesta, index) {
            return `<div class="checkbox"><label><input type="checkbox" name="r${index}" value="${(respuesta.correcta ? 1 : 0)}">${respuesta.respuesta}</label></div>`;
        }

        (function init() {
            document.getElementById('questionForm').style.display = isTeacher ? 'none' : '';
            document.getElementById('questionResultsDiv').style.display = isTeacher ? '' : 'none';
            document.getElementById('respuestaEstudiantesDiv').style.display = isTeacher ? '' : 'none';
            $.ajax({
                url: baseAPIUrl + 'pregunta/' + questionId + '/all',
                success: loadQuestion
            });


            google.charts.load('current', {'packages':['corechart']});
        })();
    </script>
{% endblock script %}