{% extends 'slides/_base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div id="tituloDiv" class="page-header"></div>
        <div id="contenidoDiv"></div>
    </div>
{% endblock content %}

{% block script %}
    <script>
        var slideId = {{ id }};
        var baseAPIUrl = '{{ base_api_url}}';

        function loadSlide(slide) {
            if (slide) {
                $('#tituloDiv').html(slide.titulo);
                $('#contenidoDiv').html(slide.contenido);
            }
        }

        (function init() {
            $.ajax({
                url: baseAPIUrl + 'diapositiva/' + slideId,
                success: loadSlide
            });
        })();
    </script>
{% endblock script %}