{% extends 'slides/_base.html' %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Presentaci&oacute;n no encontrada</h1>
        </div>
    </div>
{% endblock content %}