<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Alexander Arias González">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <title>Presentation Editor</title>
    <style>
        body {
            margin-top: 125px;
        }

        .nav {
            margin-top: 28px;
        }
    </style>
    {% block style %}{% endblock style %}
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo-nav" style="padding: 0!important" href="#">
                    <img src="https://campusvirtual.univalle.edu.co/moodle/theme/crisp/pix/logo-footer.png" width="55" height="78" alt="">
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/push/presentation_list">Lista de Presentaciones</a>
                    </li>
                    {% if request.user.is_authenticated and request.user.channelsuser.has_controls %}
                    <li>
                        <a href="/presentation_editor">Editor de Presentaciones</a>
                    </li>
                    <li>
                        <a href="/question_editor">Editor de Preguntas</a>
                    </li>
                    {% endif %}
                    <li>
                        {% if request.user.is_authenticated %}
                        <a href="/users/log_out">Logout</a>
                        {% else %}
                        <a href="/users/log_in">Login</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock content %}
    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block script %}{% endblock script %}
</body>
</html>