{% extends 'presentation_editor/_base.html' %}

{% block style %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/froala_editor.min.css' rel='stylesheet' type='text/css' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/css/froala_style.min.css' rel='stylesheet' type='text/css' />
    <style>
        .tAlignRight {
            text-align: right;
        }
        .tAlignCenter {
            text-align: center;
        }
        .mLeft15 {
            margin-left: 15px;
        }
        #diapositivasList:empty:after {
            content: 'Ninguna'
        }
        .tab-content {
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            padding: 10px;
        }
        .nav-tabs {
            margin-bottom: 0;
        }
    </style>
{% endblock style %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1 id="titleH1"></h1>
            <a href="/presentation_editor" class="btn btn-default"><span class="glyphicon glyphicon-circle-arrow-left"></span> Volver a la lista de presentaciones</a>
        </div>
        <form>
            {% csrf_token %}
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" placeholder="Nombre de la presentación" name="nombre" required>
            </div>
            <label>Diapositivas:</label>
            <ol id="diapositivasList" class="list-group"></ol>
            <div class="row">
                <div class="col-xs-12 tAlignRight">
                    <button class="btn btn-primary" onclick="toggleDiapositivaForm()" type="button">
                        <span class="glyphicon glyphicon-plus-sign"></span> Agregar diapositiva
                    </button>
                </div>
            </div>
            <div id="nuevaDiapositivaFormModal" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Formulario</h4>
                        </div>
                        <div class="modal-body">
                            <ul class="nav nav-tabs" style="margin-top: 0!important">
                                <li class="active"><a data-toggle="tab" href="#nuevaDiapositivaTab" onclick="agregandoDiapositiva = true">Diapositiva</a></li>
                                <li><a data-toggle="tab" href="#nuevaPreguntaTab" onclick="agregandoDiapositiva = false">Pregunta</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="nuevaDiapositivaTab" class="tab-pane fade in active">
                                    <div class="form-group">
                                        <label for="tituloDiapositiva">Titulo (HTML):</label>
                                        <textarea class="form-control" id="tituloDiapositiva" name="tituloDiapositiva" rows="3" placeholder="Titulo de la diapositiva"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="contenidoDiapositiva">Contenido (HTML):</label>
                                        <textarea class="form-control" id="contenidoDiapositiva" name="contenidoDiapositiva" rows="10" placeholder="Contenido de la diapositiva"></textarea>
                                    </div>
                                    <div class="tAlignRight">
                                        <button id="saveDiapositiva" type="button" class="btn btn-info" onclick="addDiapositiva()">Agregar</button>
                                    </div>
                                </div>
                                <div id="nuevaPreguntaTab" class="tab-pane fade in">
                                    <div class="form-group">
                                        <label for="pregunta">Seleccione la pregunta:</label>
                                        <select class="form-control" id="pregunta"></select>
                                    </div>
                                    <div class="tAlignRight">
                                        <button id="savePregunta" type="button" class="btn btn-info" onclick="addDiapositiva()">Agregar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button id="submitButton" type="button" class="btn btn-success" onclick="addPresentacion()"></button>
        </form>
    </div>
{% endblock content %}

{% block script %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.8.5/js/froala_editor.min.js'></script>
    <script>
        var presentacionesBaseAPIUrl = '{{ pres_base_api_url }}';
        var preguntasBaseAPIUrl = '{{ preg_base_api_url }}';
        var presentationId = {{ id }};
        var userId = {{ user_id }};
        var diapositivas = [];
        var agregandoDiapositiva = true;
        var currentEditIndex = -1;

        function loadPresentation(presentation) {
            $("#nombre").val(presentation.presentacion);
            diapositivas = presentation.diapositivas;
            diapositivas.sort(sortByOrden).forEach((diapositiva, index) => {
                diapositiva.index = index;
                $('#diapositivasList').append(getNuevaDiapositivaHtml(diapositiva));
            });
        }

        function sortByOrden(a, b){
            var aOrden = a.orden;
            var bOrden = b.orden;
            return (aOrden < bOrden ? -1 : (aOrden > bOrden ? 1 : 0));
        }

        function loadPreguntas(preguntas) {
            let preguntasHtml = "";
            preguntas.forEach(pregunta => {
                preguntasHtml += getPreguntaHtml(pregunta);
            });
            $('#pregunta').html(preguntasHtml);
        }

        function getNuevaDiapositivaHtml(diapositiva) {
            return `<li class="list-group-item row" data-index="${diapositiva.index}"><div class="col-xs-9">${diapositiva.titulo}</div><div class="col-xs-3 tAlignCenter"><button type="button" class="btn btn-warning" onclick="editDiapositiva(${diapositiva.index})"><span class="glyphicon glyphicon-edit"></span> Editar</button><button type="button" class="btn btn-danger mLeft15" onclick="removeDiapositiva(${diapositiva.index})"><span class="glyphicon glyphicon-remove-sign"></span> Borrar</button></div></li>`;
        }

        function getPreguntaHtml(pregunta) {
            return `<option value="${pregunta.id}">${pregunta.nombre}</option>`;
        }

        function toggleDiapositivaForm() {
            $('#nuevaDiapositivaFormModal').modal('toggle');
            $('#tituloDiapositiva').val('');
            $('#tituloDiapositiva').froalaEditor('html.set', '');
            $('#contenidoDiapositiva').val('');
            $('#contenidoDiapositiva').froalaEditor('html.set', '');
            $('#saveDiapositiva').html("Agregar");
            currentEditIndex = -1;
        }

        function addDiapositiva() {
            if (currentEditIndex >= 0) {
                let diapositiva = diapositivas[currentEditIndex];
                diapositiva.titulo = $('#tituloDiapositiva').val();
                diapositiva.contenido = $('#contenidoDiapositiva').val();
                $(`li[data-index=${currentEditIndex}] div:first`).html(diapositiva.titulo);
                toggleDiapositivaForm()
            } else {
                let nuevaDiapositiva = null;
                if (agregandoDiapositiva) {
                    if ($('#tituloDiapositiva').val() && $('#contenidoDiapositiva').val()) {
                        nuevaDiapositiva = {
                            id: 0,
                            index: diapositivas.length,
                            titulo: $('#tituloDiapositiva').val(),
                            contenido: $('#contenidoDiapositiva').val(),
                            tipo: 'slide'
                        };
                    } else {
                        alert('Por favor ingrese el titulo y contenido para la nueva diapositiva');
                    }
                } else {
                    if ($('#pregunta').val()) {
                        nuevaDiapositiva = {
                            id: $('#pregunta').val(),
                            index: diapositivas.length,
                            titulo: $('#pregunta option:selected').text(),
                            contenido: $('#pregunta').val(),
                            tipo: 'question'
                        };
                    } else {
                        alert('No hay ninguna pregunta seleccionada');
                    }
                }

                if (nuevaDiapositiva) {
                    diapositivas.push(nuevaDiapositiva);

                    $('#diapositivasList').append(getNuevaDiapositivaHtml(nuevaDiapositiva));
                    toggleDiapositivaForm();
                }
            }
        }

        function editDiapositiva(index) {
            let diapositiva = diapositivas[index];
            currentEditIndex = index;
            $('#tituloDiapositiva').val(diapositiva.titulo);
            $('#tituloDiapositiva').froalaEditor('html.set', diapositiva.titulo);
            $('#contenidoDiapositiva').val(diapositiva.contenido);
            $('#contenidoDiapositiva').froalaEditor('html.set', diapositiva.contenido);
            $('#saveDiapositiva').html("Editar");
            $('#nuevaDiapositivaFormModal').modal('show');
        }

        function removeDiapositiva(index) {
            diapositivas.splice(index, 1);
            $(`li[data-index='${index}']`).remove();
        }

        function addPresentacion() {
            if ($("#nombre").val().length == 0) {
                alert('La presentación no tiene un nombre');
            } else if ($('#diapositivasList:empty').length == 0) {
                let presentacion = {
                    nombre: $('#nombre').val(),
                    id_usuario: userId
                }
                let diapLis = $('#diapositivasList li');
                for(let i = 0; i < diapLis.length; i++){
                    let index = diapLis[i].dataset.index;
                    let diap = diapositivas.find(d => d.index == index);
                    diap.orden = i;
                }
                presentacion.diapositivas = diapositivas;

                $.ajax({
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    url: 'add_or_edit' + (presentationId > 0 ? '?id=' + presentationId : ''),
                    data: JSON.stringify(presentacion),
                    processData: false,
                    success: () => window.location.href = '/presentation_editor'
                });
            } else {
                alert('No hay ninguna diapositiva para la presentación');
            }
        }

        (function init() {
            $('#tituloDiapositiva').froalaEditor();
            $('#contenidoDiapositiva').froalaEditor();
            $('#titleH1').text(presentationId == 0 ? 'Agregar Presentación' : 'Editar Presentación');
            $('#submitButton').text(presentationId == 0 ? 'Agregar' : 'Editar');

            $('#diapositivasList').sortable();
            $('#diapositivasList').disableSelection();

            if (presentationId > 0) {
                $.ajax({
                    url: presentacionesBaseAPIUrl + 'presentacion/' + presentationId + '/all',
                    success: loadPresentation
                });
            }

            $.ajax({
                url: preguntasBaseAPIUrl + 'pregunta',
                success: loadPreguntas
            });
        })();
    </script>
{% endblock script %}