{% extends 'presentation_editor/_base.html' %}

{% block style %}
    <link href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <style>
        .tAlignRight {
            text-align: right;
        }
        .mLeft15 {
            margin-left: 15px;
        }
    </style>
{% endblock style %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Lista de todas las presentaciones</h1>
        </div>
        <div class="row tAlignRight" style="margin-bottom: 40px">
            <div class="col-xs-12">
                <a href="/presentation_editor/new" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus-sign"></span> Nueva presentaci&oacute;n
                </a>
            </div>
        </div>
        <div class="row">
            <table id="presentacionesTable" class="display" style="width: 100%">
                <thead>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th></th>
                </thead>
                <tbody id="presentacionesTableBody"></tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        var baseAPIUrl = '{{ base_api_url}}';

        function loadPresentations(presentaciones) {
            let presentacionesBody = '';
            presentaciones.forEach((p) => {
                presentacionesBody += getPresentacionTrHtml(p.nombre, p.id);
            });
            $('#presentacionesTableBody').html(presentacionesBody);
            $(document).ready( function () {
                $('#presentacionesTable').DataTable();
            });
        }

        function getPresentacionTrHtml(nombre, id) {
            return `<tr data-id="${id}"><td>${id}</td><td>${nombre}</td><td class="tAlignRight"><a href="/presentation_editor/edit?id=${id}" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> Editar</a><button type="button" class="btn btn-danger mLeft15" onclick="borrarPresentation(${id})"><span class="glyphicon glyphicon-remove-sign"></span> Borrar</button></td>`;
        }

        function borrarPresentation(id) {
            $.ajax({
                type: 'POST',
                url: 'delete?id=' + id,
                success: () => $(`tr[data-id=${id}]`).remove()
            });
        }

        (function init() {
            $.ajax({
                url: baseAPIUrl + 'presentacion',
                success: loadPresentations
            });
        })();
    </script>
{% endblock script %}