{% extends 'users/_base.html' %}

{% block content %}
    <form action="{% url 'users:log_in' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit">Ingresar</button>
    </form>
    <p>No tienes una cuenta? <a href="{% url 'users:sign_up' %}">Registrate</a></p>
{% endblock content %}