{% extends 'users/_base.html' %}

{% block style %}
    <style>
        .errorlist {
            color: red;
        }
    </style>
{% endblock style %}

{% block content %}
    <form action="{% url 'users:sign_up' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
        <button type="submit">Registrar</button>
        <p>Ya tienes una cuenta? <a href="{% url 'users:log_in' %}">Ingresa!</a></p>
    </form>
{% endblock content %}